<h1>NOW WE BATTLE!</h1>
<h2>ENTER NAMES TO PLAY</2>
<form action="/names" method="post">
  <label for="player_1_name">
    PLAYER 1
  <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    PLAYER 2
  <input type="text" name="player_2_name">
  </label>
  <input type="submit" name="Submit">
</form>